In [2]:
'''Simple Data Cleaning Demo on US Hospital dataset from UCI
https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008
To make a prediction on re-admission days to inpatient readmission. 
Values: <30 if the patient was readmitted in less than 30 days,
>30 if the patient was readmitted in more than 30 days, 
and No for no record of readmission.'''

'Simple Data Cleaning Demo on US Hospital dataset from UCI\nhttps://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008\nTo make a prediction on re-admission days to inpatient readmission. \nValues: <30 if the patient was readmitted in less than 30 days,\n>30 if the patient was readmitted in more than 30 days, \nand No for no record of readmission.'

In [1]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv("diabetic_data.csv")
df1=df.copy() #making a deep copy of df to check a few things
#in original df after dropping a few columns/samples

In [4]:
df.shape

(101766, 50)

In [7]:
df.isnull().sum() 
#just 2 columns have NAN values but erroneous entries 
# e.g. '?', ' ', 'na', 'nil', etc may be seen in other columns
#all such entries so not have type np.NAN
#so they won't be handled with dropna()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

#As you can see just 2 fetures/column have NAN values for almost all samples, 
#dropping rows will remove majority of tuples from your data 
#Let's drop just those columns with highest number of NAN values as they may affect data analysis
#use option axis=1 for removing columns with NAN values;
#how='any' (default): Drop any column that has at least one NaN
#df = df.drop(columns=['max_glu_serum', 'A1Cresult'],inplace=True) #for dropping just 2 columns manually by specifying their names in drop

In [21]:
df1['age'].value_counts()

age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

In [20]:
df1['weight'].value_counts()

weight
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: count, dtype: int64

In [ ]:
df1['readmitted'].value_counts() #class label

readmitted
NO     54864
>30    35545
<30    11357
Name: count, dtype: int64

In [23]:
df1.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [24]:
''''By default, dropna() only removes rows containing NaN (None, np.nan) values. 
However, strings like '?', 'na', 'nil', ' ' are not automatically treated as NaN.
For dropping Rows in Pandas using dropna() for specific strings (' ', '?', 'na', 'nil', etc.)'''
df_cleaned=df1.dropna()

In [25]:
df_cleaned.shape #lost most of the data as we did row wise handling of NAN values

(298, 50)

Let's clean our data by dropping columns for this dataset

Alternate way of data cleaning that retains maximum samples but fewer features
by replacing all empty strings/?/na strings with NAN initially and then cleaning the data

In [8]:
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [9]:
#we need to replace these erring strings to NAN otherwise dropna() won't be able to handle it
df.replace(['?',' ','na','nil'],np.nan,inplace=True)

In [10]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [12]:
df.isnull().sum()
#you will notice now 9 columns/feature have NAN values

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [13]:
df.dropna(axis=1,inplace=True) #for deleting those 9 columns only which had NAN values

In [14]:
df.shape

(101766, 41)

In [15]:
df.head(10)

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Female,[10-20),1,1,7,3,59,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Male,[30-40),1,1,7,2,44,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Male,[40-50),1,1,7,1,51,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Male,[50-60),2,1,2,3,31,6,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Male,[60-70),3,1,2,4,70,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Female,[80-90),2,1,4,13,68,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Female,[90-100),3,3,4,12,33,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [67]:
96420+298

96718

In [ ]:
df.to_csv("diabetic_data_cleaned.csv",index=False)
 #index option is set as false; prevents Pandas 
 # from writing row indices to the CSV file.